.form-feedback {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;

		&__title {
			padding-right: 20px;
		}
	}

	&__emotions {
		display: flex;
		flex-wrap: wrap;

		> label {
			position: relative;
			width: calc(min(58px, 20%));

			input {
				position: absolute;
				top: 0;
				visibility: hidden;
			}

			div {
				transition: all 0.2s;
				padding-top: 100%;
				background-position: 50% 50%;
				background-size: cover;
			}

			input:checked + div,
			div:hover {
				transform: scale(1.2);
			}
		}
	}

	&__apply {
		margin-top: 25px;
		text-align: right;
	}
}

@media (max-width: 767.98px) {
	.form-feedback {
		&__header {
			display: block;
			text-align: center;
			margin-bottom: 30px;
		}

		&__apply {
			button {
				width: 100%;
			}
		}
	}
}
