.goods-edit {
	&__head {
		display: flex;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 500;

		> div {
			flex: 0 0 auto;
			padding-right: 20px;

			&:nth-child(1) {
				flex: 1 1 auto;
			}

			&:nth-child(2) {
				width: 160px;
			}
			&:nth-child(3),
			&:nth-child(4) {
				width: 130px;
			}

			&:nth-child(5) {
				width: 50px;
			}
		}
	}

	&__item {
		position: relative;
		padding: 15px 0;
		border-top: 1px solid #e5e5e5;
		display: flex;
		align-items: center;
	}

	&__about {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}

	&__count {
		flex: 0 0 auto;
		padding-right: 20px;
		width: 160px;
	}

	&__price {
		flex: 0 0 auto;
		padding-right: 20px;
		width: 130px;

		&__label {
			display: none;
		}
	}

	&__total {
		flex: 0 0 auto;
		padding-right: 20px;
		width: 130px;
	}

	&__delete {
		flex: 0 0 auto;
		padding-right: 20px;
		width: 50px;
	}

	&__image {
		flex: 0 0 auto;
		background-size: cover;
		background-position: 50% 50%;
		width: 140px;

		&:before {
			content: " ";
			padding-top: 75%;
			display: block;
		}
	}

	&__text {
		padding-left: 20px;
		padding-right: 20px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
	}

	&__desc {
		margin-top: 5px;
		font-size: 14px;
		color: #bcbcbc;
	}

	&__btn-delete {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30/12 + em;
		height: 30/12 + em;
		border: 1px solid #e5e5e5;
		border-radius: 50%;
		background: #f7f7f7;
		font-size: 12px;

		&:hover {
			background: lighten(#f7f7f7, 1%);
		}
	}
}

@media (max-width: 1299.98px) {
	.goods-edit {
		&__head {
			display: none;
		}

		&__item {
			flex-wrap: wrap;

			&:nth-child(2) {
				border-top: 0;
				padding-top: 0;
			}
		}

		&__about {
			flex: 0 0 auto;
			padding-right: 70px;
			margin-bottom: 15px;
			width: 100%;
		}

		&__price {
			&__label {
				display: block;
				margin-bottom: 7px;
				font-weight: 500;
			}
		}

		&__image {
			width: 120px;
		}

		&__delete {
			position: absolute;
			top: 15px;
			right: 0;
		}
	}
}

@media (max-width: 991.98px) {
	.goods-edit {
		&__item {
			border-top: 0;
			border-bottom: 1px solid #e5e5e5;
		}
	}
}
@media (max-width: 767.98px) {
	.goods-edit {
		&__about {
			padding-right: 30px;
		}

		&__count {
			width: auto;
			padding-right: 15px;
		}

		&__price {
			width: auto;

			padding-right: 15px;

			&__label {
				font-size: 14px;
			}
		}

		&__total {
			width: auto;
			padding-right: 0;
		}

		&__image {
			width: 95px;
		}

		&__text {
			padding-left: 10px;
			padding-right: 0;
		}

		&__title {
			font-size: 14px;
		}

		&__desc {
			font-size: 12px;
		}

		&__delete {
			padding-right: 0;
			width: auto;
		}

		&__btn-delete {
			font-size: 7px;
		}

		.basket__cost {
			font-size: 16px;
		}

		.stepper {
			font-size: 12px;
		}
	}
}
