.page-index {
	&__section {
		margin-top: 40px;
	}

	&__promo {
		&__tabs {
			margin-bottom: 35px;
		}

		&__select {
			display: none;
		}
	}
}

@media (max-width: 991.98px) {
	.page-index {
		&__promo {
			&__tabs {
				display: none;
			}

			&__select {
				display: block;
			}
		}
	}
}
