.page-product {
	&__section {
		margin-top: 50px;
	}

	&__row {
		display: flex;
	}

	&__left {
		flex: 0 0 auto;
		width: 50%;
	}

	&__right {
		flex: 0 0 auto;
		padding-left: 30px;
		width: 50%;
	}
}

@media (max-width: 991.98px) {
	.page-product {
		&__row {
			display: block;
		}

		&__left {
			width: auto;
		}

		&__right {
			width: auto;
			padding-left: 0;
		}
	}
}
