.page-profile {
	&__title-desktop {
	}

	&__title-mobile {
		display: none;
	}
}

@media (max-width: 991.98px) {
	.page-profile {
		&__title-desktop {
			display: none;
		}

		&__title-mobile {
			display: flex;
		}
	}
}
