---
title: Доставка готовой еды
layout: default.hbs
---



{{> header }}

<main>
    
    <div class="layout__center">

        <nav class="nav-breadcrumbs">
            <a href="#" class="nav-breadcrumbs__link">Главная</a>
            <span class="nav-breadcrumbs__sep">/</span>
            <span class="nav-breadcrumbs__text">Авторизация</span>
        </nav>

        <div class="auth__container">
            <h1 class="section__title section__title--center">Авторизация</h1>
            
            <div class="auth__name">Войти или создать профиль</div>
            
            <label class="auth__label">
                <span class="auth__span">Номер вашего мобильного телефона: *</span>
                <input type="text" class="auth__phone">
            </label>
            
            <label class="checkbox">
                <input type="checkbox" checked="checked">
                <span class="checkbox__span">Я принимаю условия <a href="#">пользовательского соглашения</a> и даю <a href="#">согласие на обработку персональных данных</a></span>
            </label>

            <button type="button" class="pointer__button">Получить код</button>
        </div>
    </div>
</main>

{{> footer }}