---
title: Доставка готовой еды
layout: default.hbs
---


{{> header }}

<main>

    <div class="layout__center">
   
        <nav class="nav-breadcrumbs">
            <a href="#" class="nav-breadcrumbs__link">Главная</a>
            <span class="nav-breadcrumbs__sep">/</span>
            <span class="nav-breadcrumbs__text">Корзина</span>
        </nav>

        <h1 class="section__title">
            <span class="">Ваша корзина</span>
            <span class="section__title__count">4 товара</span>
        </h1>

        <div class="layout-cart">
            <div class="layout-cart__content">
                <div class="goods-edit">

                    <div class="goods-edit__head">
                        <div>Блюдо</div>
                        <div>Количество</div>
                        <div>Стоимость</div>
                        <div>Всего</div>
                        <div></div>
                    </div>

                    {{#repeat 2}}
                    <div class="goods-edit__item">
                        <div class="goods-edit__about">
                            <div class="goods-edit__image" style="background-image: url(images/basket-string.png);"></div>
                            <div class="goods-edit__text">
                                <div class="goods-edit__title">Рассольник Ленинградский 250г ЦМ</div>
                                <div class="goods-edit__desc">Основные блюда</div>
                            </div>
                        </div>
                        <div class="goods-edit__count">
                            <div class="stepper">
                                <label for="" class="stepper__field">
                                    <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                </label>
                                <div class="stepper__buttons">
                                    <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                    <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="goods-edit__price">
                            <div class="goods-edit__price__label">Стоимость</div>
                            <div class="basket__cost">
                                <p>229</p>
                                <p class="basket__coast_ap">90</p>
                                <p>&#8381;</p>
                            </div>
                        </div>
                        <div class="goods-edit__total">
                            <div class="goods-edit__price__label">Всего</div>
                            <div class="basket__cost">
                                <p>229</p>
                                <p class="basket__coast_ap">90</p>
                                <p>&#8381;</p>
                            </div>
                        </div>
                        <div class="goods-edit__delete">
                            <button type="button" class="goods-edit__btn-delete">
                                <i class="icon-delete"></i>
                            </button>
                        </div>
                    </div>

                    <div class="goods-edit__item">
                        <div class="goods-edit__about">
                            <div class="goods-edit__image" style="background-image: url(images/categories/3.png);"></div>
                            <div class="goods-edit__text">
                                <div class="goods-edit__title">Булочка с маком глаз. 100г тех.уп Булочка с маком глаз. 100г тех.уп</div>
                                <div class="goods-edit__desc">Основные блюда</div>
                            </div>
                        </div>
                        <div class="goods-edit__count">
                            <div class="stepper">
                                <label for="" class="stepper__field">
                                    <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                </label>
                                <div class="stepper__buttons">
                                    <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                    <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="goods-edit__price">
                            <div class="goods-edit__price__label">Стоимость</div>
                            <div class="basket__cost">
                                <p>499</p>
                                <p class="basket__coast_ap">00</p>
                                <p>&#8381;</p>
                            </div>
                        </div>
                        <div class="goods-edit__total">
                            <div class="goods-edit__price__label">Всего</div>
                            <div class="basket__cost">
                                <p>1497</p>
                                <p class="basket__coast_ap">00</p>
                                <p>&#8381;</p>
                            </div>
                        </div>
                        <div class="goods-edit__delete">
                            <button type="button" class="goods-edit__btn-delete">
                                <i class="icon-delete"></i>
                            </button>
                        </div>
                    </div>

                    <div class="goods-edit__item">
                        <div class="goods-edit__about">
                            <div class="goods-edit__image" style="background-image: url(images/categories/2.png);"></div>
                            <div class="goods-edit__text">
                                <div class="goods-edit__title">Винегрет овощной упак.150г</div>
                                <div class="goods-edit__desc">Основные блюда</div>
                            </div>
                        </div>
                        <div class="goods-edit__count">
                            <div class="stepper">
                                <label for="" class="stepper__field">
                                    <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                </label>
                                <div class="stepper__buttons">
                                    <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                    <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="goods-edit__price">
                            <div class="goods-edit__price__label">Стоимость</div>
                            <div class="basket__cost">
                                <p>199</p>
                                <p class="basket__coast_ap">80</p>
                                <p>&#8381;</p>
                            </div>
                        </div>
                        <div class="goods-edit__total">
                            <div class="goods-edit__price__label">Всего</div>
                            <div class="basket__cost">
                                <p>199</p>
                                <p class="basket__coast_ap">80</p>
                                <p>&#8381;</p>
                            </div>
                        </div>
                        <div class="goods-edit__delete">
                            <button type="button" class="goods-edit__btn-delete">
                                <i class="icon-delete"></i>
                            </button>
                        </div>
                    </div>
                    {{/repeat}}

                </div>
            </div>
            <div class="layout-cart__sidebar">
                <div class="basket-card">
                    <div class="basket-card__header">
                        <label for="" class="basket-card__label">
                            <span class="basket-card__span">Введите номер карты Снегири для участия в акции "Цена по карте"</span>
                            <input type="text" class="basket-card__input" placeholder="Номер карты Снегири">
                        </label>
                        <button type="button" class="btn-orange">Применить</button>
                    </div>
                    <h2 class="basket-card__title">Ваш заказ</h2>
                    <div class="basket-card-string">
                        <span>Позиций в заказе</span>
                        <span>4</span>
                    </div>
                    <div class="basket-card-string">
                        <span>Стоимость доставки</span>
                        <div class="basket__cost">
                            <p>229</p>
                            <p class="basket__coast_ap">90</p>
                            <p>&#8381;</p>
                        </div>
                        <p class="basket-card-discription">Минимальная сумма заказа для БЕСПЛАТНОЙ доставки составляет 1000 руб</p>
                    </div>
                    <div class="basket-card__total">
                        <div class="basket-card__total__label">Итого к оплате:</div>
                        <div class="basket-card__total__price">
                            <span class="basket-card__total__value">229</span> 
                            <span class="basket-card__total__cents">90</span>
                            <span class="basket-card__total__rubl">&#8381;</span>
                        </div>
                    </div>
                    <div class="basket-card__btns">
                        <button type="button" class="btn-orange">Оформить заказ</button>
                        <button type="button" class="btn-gray">Вернуться в каталог</button>
                        <button type="button" class="btn-gray">Очистить корзину</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-index__section">
            <section class="slider-cards">
                        
                <div class="slider-cards__header">
                    <div class="slider-cards__title">
                        <div class="section__title mb-0">ВОЗМОЖНО ВЫ ЗАБЫЛИ КУПИТЬ</div>
                    </div>
                    <div class="slider-cards__ctrl">
                        <button type="button" class="slider-cards__prev"><i class="icon-arrow-right is-flipped"></i></button>
                        <div class="slider-cards__handle">
                            <div class="swiper-scrollbar"></div>
                        </div>
                        <button type="button" class="slider-cards__next"><i class="icon-arrow-right"></i></button>
                    </div>

                </div>
        
                <div class="slider-cards__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {{#repeat 2}}
                            <div class="swiper-slide">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/1.png);"></div>

                                    <h3 class="goods-cards__title">Рассольник Ленинградский 250г ЦМ</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/2.png);"></div>

                                    <h3 class="goods-cards__title">Винегрет овощной упак.150г</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/3.png);"></div>

                                    <h3 class="goods-cards__title">Булочка с маком глаз. 100г тех.уп</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/2.png);"></div>

                                    <h3 class="goods-cards__title">Рассольник Ленинградский 250г ЦМ</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{/repeat}}
                        </div>
                    </div>
                </div>

            </section>
        </div>
    
    </div>
</main>

{{> footer }}
