---
title: Доставка готовой еды
layout: default.hbs
---

{{> header }}

<main>
    <div class="layout__center">

        <nav class="nav-breadcrumbs">
            <a href="#" class="nav-breadcrumbs__link">Главная</a>
            <span class="nav-breadcrumbs__sep">/</span>
            <span class="nav-breadcrumbs__text">Корзина</span>
        </nav>

        <div class="layout-profile">
            <div class="layout-profile__content">
                <div class="my-card__wrapper">
                    <div class="my-card__container">
                        <h1 class="section__title hidden">Карта "Снегири"</h1>
                        <ul class="my-card__list">
                            <p class="my-card__text">Это возможность участвовать в Программах лояльности партнеров участников и получать больше скидок;</p>
                            <li class="my-card__list__item">участвовать в акциях для владельцев карт «Снегири»</li>
                            <li class="my-card__list__item">накапливать бонусы</li>
                            <li class="my-card__list__item">оплачивать покупки бонусами</li>
                            <li class="my-card__list__item">получать Персональные предложения! (скидки или бонусы)</li>
                            <li class="my-card__list__item">получать Персональные! скидки на любимые Вами товары</li>
                            <li class="my-card__list__item">контролировать свои покупки</li>
                        </ul>
                    </div>
                    <div class="my-card-right">
                        <div class="my-card-righ-form">
                            <span class="">Введите номер карты Снегири для участия в акции "Цена по карте"</span>
                            <div class="my-card-right__block">
                                <label for="" class="my-card-right__label">
                                    <input type="text" class="my-card-right__input" placeholder="Номер карты Снегири">
                                </label>
                                <button class="pointer__button my-card__button">Применить карту</button>
                                <button class="pointer__button my-card__button">У меня нет карты</button>
                            </div>
                        </div>
                        <h2 class="my-card-right-title">Уважаемый Василий,</h2>
                        <p class="my-card-right-info">Карта лояльности <a>“Снегири” добавлена в корзину</a>. Правила использования карты вы можете найти на сайт <a>карта-снегири.рф</a></p>
                    </div>
                </div>
            </div>
            <div class="layout-profile__sidebar">
                <aside>
                    <ul class="profile-aside__list">
                        <li class="profile-aside__item">
                            <a href="" class="profile-aside__link">
                                <img src="images/profile/1.png" alt="">
                                <span>Моя профиль</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="" class="profile-aside__link">
                                <img src="images/profile/2.png" alt="">
                                <span>Моя карта</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="" class="profile-aside__link">
                                <img src="images/profile/3.png" alt="">
                                <span>Мои адреса</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="" class="profile-aside__link">
                                <img src="images/profile/4.png" alt="">
                                <span>История заказов</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="" class="profile-aside__link">
                                <img src="images/profile/5.png" alt="">
                                <span>Избранное</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="" class="profile-aside__link">
                                <img src="images/profile/6.png" alt="">
                                <span>Мои подписки</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="" class="profile-aside__link">
                                <img src="images/profile/7.png" alt="">
                                <span>Выйти из профиля</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <span class="copyright">@ 2021 Название сайта. Доставка товаров на дом.</span>
    <a href="tel:+79999123341" class="footer__link">
        <img src="images/ft_phone.svg" alt="" class="footer__img">
        <span class="footer__span">+7 (999) 912-33-41</span>
    </a>
    <div class="footer__link">
        <img src="images/ft_label.png" alt="" class="footer__img-adress">
        <span class="footer__span">163057, г. Архангельск, ул. Тимме, д.4, корп.3</span>
    </div>
</footer>
<div id="menu-burger" class="menu-burger">
    <div class="menu-burger-container">
        <a href="" class="burger__cancel">
            <img src="images/mobile-header/cancel-burger.png" alt="" class="burger__cancel-img">
        </a>
        <a href="" class="header-top__button burger-button">Мне повезет</a>
        <ul class="header-top__menu">
            <li class="header-top__item">
                <a href="" class="header-top__link">Главная</a>
            </li>
            <li class="header-top__item">
                <a href="" class="header-top__link">Акции</a>
            </li>
            <li class="header-top__item">
                <a href="" class="header-top__link">Помощь</a>
            </li>
            <li class="header-top__item">
                <a href="" class="header-top__link">Доставка и оплата</a>
            </li>
            <li class="header-top__item">
                <a href="" class="header-top__link">Оптовым покупателям</a>
            </li>
            <li class="header-top__item">
                <a href="" class="header-top__link">Отзывы</a>
            </li>
        </ul>
        <div class="header-bottom__link">
            <img src="images/label.png" alt="" class="header-bottom__img">
            <span class="adress">163057, г. Архангельск,<br>ул. Тимме, д.4, корп.3</span>
        </div>
        <a href="tel:+79999123341" class="header-bottom__link">
            <img src="images/phone.svg" alt="" class="header-bottom__img">
            <span class="telephone__span">+7 (999) 912-33-41</span>
        </a>
    </div>
</div>