---
title: Доставка готовой еды
layout: default.hbs
---

{{> header }}

<main>
    <div class="layout__center">

        <nav class="nav-breadcrumbs">
            <a href="#" class="nav-breadcrumbs__link">Главная</a>
            <span class="nav-breadcrumbs__sep">/</span>
            <span class="nav-breadcrumbs__text">Корзина</span>
        </nav>

        <div class="layout-profile">
            <div class="layout-profile__content">
                <div class="my-card__wrapper">
                    <div class="my-card__container page-my-card__desc">
                        <h1 class="section__title page-my-card__title-desktop">Карта "Снегири"</h1>
                        <ul class="my-card__list">
                            <p class="my-card__text">Это возможность участвовать в Программах лояльности партнеров участников и получать больше скидок;</p>
                            <li class="my-card__list__item">участвовать в акциях для владельцев карт «Снегири»</li>
                            <li class="my-card__list__item">накапливать бонусы</li>
                            <li class="my-card__list__item">оплачивать покупки бонусами</li>
                            <li class="my-card__list__item">получать Персональные предложения! (скидки или бонусы)</li>
                            <li class="my-card__list__item">получать Персональные! скидки на любимые Вами товары</li>
                            <li class="my-card__list__item">контролировать свои покупки</li>
                        </ul>
                    </div>
                    <div class="my-card-right">
                        <div class="my-card-righ-form">
                            <span class="">Введите номер карты Снегири для участия в акции "Цена по карте"</span>
                            <div class="my-card-right__block">
                                <label for="" class="my-card-right__label">
                                    <input type="text" class="my-card-right__input" placeholder="Номер карты Снегири">
                                </label>
                                <button class="btn-orange my-card__button">Применить карту</button>
                                <button class="btn-gray my-card__button">У меня нет карты</button>
                            </div>
                        </div>
                        <h2 class="my-card-right-title">Уважаемый Василий,</h2>
                        <p class="my-card-right-info">Карта лояльности <a>“Снегири” добавлена в корзину</a>. Правила использования карты вы можете найти на сайт <a>карта-снегири.рф</a></p>
                    </div>
                </div>
            </div>
            <div class="layout-profile__sidebar">
                <h1 class="section__title page-my-card__title-mobile">Карта "Снегири"</h1>

                <aside>
                    <ul class="profile-aside__list">
                        <li class="profile-aside__item">
                            <a href="#" class="profile-aside__link">
                                <i class="icon-person-outline"></i>
                                <span>Моя профиль</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="#" class="profile-aside__link">
                                <i class="icon-card"></i>
                                <span>Моя карта</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="#" class="profile-aside__link">
                                <i class="icon-location-2"></i>
                                <span>Мои адреса</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="#" class="profile-aside__link">
                                <i class="icon-backup"></i>
                                <span>История заказов</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="#" class="profile-aside__link">
                                <i class="icon-favorite"></i>
                                <span>Избранное</span>
                            </a>
                        </li>
                        <li class="profile-aside__item">
                            <a href="#" class="profile-aside__link">
                                <i class="icon-comment"></i>
                                <span>Мои подписки</span>
                            </a>
                        </li>
                        <li class="profile-aside__item profile-aside__item--quit">
                            <a href="#" class="profile-aside__link">
                                <i class="icon-quit"></i>
                                <span>Выйти из профиля</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</main>


{{> footer }}