---
title: Доставка готовой еды
layout: default.hbs
---


{{> header}}

<main>

    <div class="layout__center">

        <nav class="nav-breadcrumbs">
            <a href="#" class="nav-breadcrumbs__link">Главная</a>
            <span class="nav-breadcrumbs__sep">/</span>
            <span class="nav-breadcrumbs__text">Персональный раздел</span>
        </nav>
        
        <div class="layout-profile">
            
            <div class="layout-profile__content">
                <h1 class="section__title hidden">Профиль пользователя</h1>
                <form action="" class="profile-form hidden">
                    <img src="images/profile/fi-1.png" alt="" class="profile-form__icon">
                    <h3 class="profile-form__title">Персональные данные</h3>
                    <div class="profile-form__string">
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Имя</span>
                                <input type="text" class="profile-form__input">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Фамилия</span>
                                <input type="text" class="profile-form__input">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Отчество</span>
                                <input type="text" class="profile-form__input">
                            </label>
                    </div>
                    <div class="profile-form__string">
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Телефон</span>
                                <input type="text" class="profile-form__input" placeholder="+7 (___) ___-__-__">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Email</span>
                                <input type="text" class="profile-form__input">
                            </label>
                    </div>
                    <button class="pointer__button profile__button">Сохранить</button>
                </form>

                <form action="" class="profile-form hidden">
                    <img src="images/profile/fi-2.png" alt="" class="profile-form__icon">
                    <h3 class="profile-form__title">Уведомления</h3>
                    <div class="profile-form__string profile-checkbox__string">
                        <span class="profile-form__string-span">Поступил товар на который вы <a href="">подписались</a></span>
                        <div class="radio">
                            <div class="radio-block">
                                <span>EMAIL</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>WhatsApp</span>
                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>SMS</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="profile-form__string profile-checkbox__string">
                        <span class="profile-form__string-span">Заканчивается акция на товар в корзине</span>
                        <div class="radio">
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="profile-form__string profile-checkbox__string">
                        <span class="profile-form__string-span">Информирование о статусах заказа</span>
                        <div class="radio">
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <button class="pointer__button profile__button">Сохранить</button>
                </form>

                <form action="" class="profile-form hidden">
                    <img src="images/profile/fi-3.png" alt="" class="profile-form__icon">
                    <h3 class="profile-form__title">Безопасность</h3>
                    <div class="profile-form__string">
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Новый пароль</span>
                                <input type="text" class="profile-form__input">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Повторите новый пароль</span>
                                <input type="text" class="profile-form__input">
                            </label>
                    </div>
                    <button class="pointer__button profile__button">Сохранить</button>
                </form>

                <form action="" class="profile-form visible">
                    <div class="flex-box">
                        <img src="images/profile/fi-1.png" alt="" class="profile-form__icon">
                        <h3 class="profile-form__title">Персональные данные</h3>
                    </div>
                    <div class="profile-form__string">
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Имя</span>
                                <input type="text" class="profile-form__input">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Фамилия</span>
                                <input type="text" class="profile-form__input">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Отчество</span>
                                <input type="text" class="profile-form__input">
                            </label>
                    </div>
                    <div class="profile-form__string">
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Телефон</span>
                                <input type="text" class="profile-form__input" placeholder="+7 (___) ___-__-__">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Email</span>
                                <input type="text" class="profile-form__input">
                            </label>
                    </div>
                    <button class="pointer__button profile__button">Сохранить</button>
                </form>

                <form action="" class="profile-form visible">
                    <div class="flex-box jcl">
                        <img src="images/profile/fi-2.png" alt="" class="profile-form__icon">
                        <h3 class="profile-form__title">Уведомления</h3>
                    </div>
                    <div class="profile-form__string profile-checkbox__string">
                        <span class="profile-form__string-span">Поступил товар на который вы <a href="">подписались</a></span>
                        <div class="radio visible">
                            <div class="radio-block">
                                <span>EMAIL</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>WhatsApp</span>
                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>SMS</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="profile-form__string profile-checkbox__string">
                        <span class="profile-form__string-span">Заканчивается акция на товар в корзине</span>
                        <div class="radio visible">
                            <div class="radio-block">
                                <span>EMAIL</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>WhatsApp</span>
                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>SMS</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                        <div class="radio hidden  hd">
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="profile-form__string profile-checkbox__string">
                        <span class="profile-form__string-span">Информирование о статусах заказа</span>
                        <div class="radio visible">
                            <div class="radio-block">
                                <span>EMAIL</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>WhatsApp</span>
                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">
                                <span>SMS</span>
                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                        <div class="radio hidden hd">
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch switch-margin">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                            <div class="radio-block">

                                <label class="profile-content-form__switch">
                                <input type="checkbox">
                                <span class="profile-content-form__slider"></span>
                            </label>
                            </div>
                        </div>
                    </div>
                    <button class="pointer__button profile__button">Сохранить</button>
                </form>

                <form action="" class="profile-form visible">
                    <div class="flex-box jcl">
                        <img src="images/profile/fi-3.png" alt="" class="profile-form__icon">
                        <h3 class="profile-form__title">Безопасность</h3>
                    </div>
                    <div class="profile-form__string">
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Новый пароль</span>
                                <input type="text" class="profile-form__input">
                            </label>
                        <label for="" class="profile-form___label">
                                <span class="profile-form__span">Повторите новый пароль</span>
                                <input type="text" class="profile-form__input">
                            </label>
                    </div>
                    <button class="pointer__button profile__button">Сохранить</button>
                </form>

            </div>
            <div class="layout-profile__sidebar">
                <ul class="profile-aside__list">
                    <li class="profile-aside__item">
                        <a href="" class="profile-aside__link">
                            <img src="images/profile/1.png" alt="">
                            <span>Моя профиль</span>
                        </a>
                    </li>
                    <li class="profile-aside__item">
                        <a href="" class="profile-aside__link">
                            <img src="images/profile/2.png" alt="">
                            <span>Моя карта</span>
                        </a>
                    </li>
                    <li class="profile-aside__item">
                        <a href="" class="profile-aside__link">
                            <img src="images/profile/3.png" alt="">
                            <span>Мои адреса</span>
                        </a>
                    </li>
                    <li class="profile-aside__item">
                        <a href="" class="profile-aside__link">
                            <img src="images/profile/4.png" alt="">
                            <span>История заказов</span>
                        </a>
                    </li>
                    <li class="profile-aside__item">
                        <a href="" class="profile-aside__link">
                            <img src="images/profile/5.png" alt="">
                            <span>Избранное</span>
                        </a>
                    </li>
                    <li class="profile-aside__item">
                        <a href="" class="profile-aside__link">
                            <img src="images/profile/6.png" alt="">
                            <span>Мои подписки</span>
                        </a>
                    </li>
                    <li class="profile-aside__item">
                        <a href="" class="profile-aside__link">
                            <img src="images/profile/7.png" alt="">
                            <span>Выйти из профиля</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        
    </div>
</main>



{{> footer }}