---
title: Доставка готовой еды
layout: default.hbs
---

{{> header }}

<main>

    <div class="layout__center">

        <nav class="nav-breadcrumbs">
            <a href="#" class="nav-breadcrumbs__link">Главная</a>
            <span class="nav-breadcrumbs__sep">/</span>
            <span class="nav-breadcrumbs__text">Предложение для вас</span>
        </nav>

        <div class="layout-index">
            <div class="layout-index__content">
                <h1 class="section__title">Предложение для вас</h1>

                <div class="layout-try">
                    <div class="layout-try__content">
                        
                        <section class="goods-cards">
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">

                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/1.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Супы</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Рассольник Ленинградский 250г ЦМ</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/2.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Гарниры</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Винегрет овощной упак.150г</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/3.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Салаты</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Булочка с маком глаз. 100г тех.уп</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/1.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Готовые<br>блюда</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Рассольник Ленинградский 250г ЦМ</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/2.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Супы</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Винегрет овощной упак.150г</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/1.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Супы</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Рассольник Ленинградский 250г ЦМ</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/2.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Супы</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Винегрет овощной упак.150г</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/3.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Супы</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Булочка с маком глаз. 100г тех.уп</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/1.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Супы</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Рассольник Ленинградский 250г ЦМ</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-cards__col">
                                <div class="goods-cards__item">
                                    
                                    <div class="goods-cards__image" 
                                        style="background-image: url(images/categories/2.png);"></div>

                                    <div class="goods-cards__tags">
                                        <div class="goods-cards__tags__item">Супы</div>
                                    </div>

                                    <button class="goods-cards__btn-delete">
                                        <i class="icon-delete"></i>
                                    </button>

                                    <h3 class="goods-cards__title">Винегрет овощной упак.150г</h3>
                                    <span class="discount">Скидка по карте</span>
                                    <div class="cost__block">
                                        <div class="card__cost">
                                            <p>229</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                        </div>
                                        <div class="old__cost">
                                            <p>329</p>
                                            <p class="coast_ap">90</p>
                                            <p>&#8381;</p>
                                            <div class="old__cost-line"></div>
                                        </div>
                                    </div>
                                    <div class="coast__footer">
                                        <div class="stepper">
                                            <label for="" class="stepper__field">
                                                        <input type="text" value="1" maxlength="2" step="1" class="stepper__input">
                                                    </label>
                                            <div class="stepper__buttons">
                                                <button class="stepper__btn stepper__btn-minus" aria-label="Уменьшить количество">-</button>
                                                <button class="stepper__btn stepper__btn-plus" aria-label="Увеличить количество">+</button>
                                            </div>
                                        </div>
                                        <a class="basket-light">
                                            <img src="images/in-basket.png" alt="" class="images/in-basket.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="layout-try__sidebar">

                        <div class="basket-card ">
                            <div class="basket-card-string">
                                <span>Позиций в заказе</span>
                                <span>4</span>
                            </div>
                            <div class="basket-card-string">
                                <span>Стоимость доставки</span>
                                <div class="basket__cost">
                                    <p>100</p>
                                    <p class="basket__coast_ap">00</p>
                                    <p>&#8381;</p>
                                </div>
                                <p class="basket-card-discription">Минимальная сумма заказа для БЕСПЛАТНОЙ доставки составляет 1000 руб</p>
                            </div>
                            <div class="card__cost-fin card__cost-fin-mg">
                                <p>229</p>
                                <p class="coast_a-fin">90</p>
                                <p>&#8381;</p>
                            </div>
                            <div class="button-group">
                                <button class="pointer__button recomendation__button">Предложить другое</button>
                                <button class="pointer__button recomendation__button">Оформить заказ</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layout-index__sidebar">
                <aside>
                    <ul class="aside__list" id="aside__list">
                        <li id="aside__item" class="aside__item">Бизнес ланч
                            <ul>
                                <li id="aside__link" class="aside__link">
                                    <a href="" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="" class="">Ланч ПН</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Салаты</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Супы</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Готовые блюда</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Гарниры</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Фаст фуд</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Блинчики</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Напитки</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Впечка</span>
                        </li>
                    </ul>

                    <div class="aside__block">
                        <ul class="aside__list">
                            <li class="aside__item">
                                <span>Праздничное меню на заказ</span>
                            </li>
                        </ul>
                        <ul class="aside__list">
                            <li class="aside__item">
                                <span>Напитки на заказ</span>
                            </li>
                        </ul>
                    </div>
                    <label class="subscribe">
                            <span>Подписывайтесь на новости и акции</span>
                            <input type="mail" placeholder="Оставьте свой email">
                        </label>
                </aside>
            </div>
        </div>
    </div>
</main>

{{> footer }}