---
title: Доставка готовой еды
layout: default.hbs
---

{{> header }}

<main>

    <div class="layout__center">

        <nav class="nav-breadcrumbs">
            <a href="#" class="nav-breadcrumbs__link">Главная</a>
            <span class="nav-breadcrumbs__sep">/</span>
            <span class="nav-breadcrumbs__text">Поиск</span>
        </nav>

        <h1 class="section__title">Результаты поиска</h1>
        
        <div class="layout-index">
            <div class="layout-index__content">

                {{> goods-cards }}

                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <img src="images/prev_2.png" alt="" aria-hidden="true">
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <img src="images/prev_1.png" alt="" aria-hidden="true">
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <img src="images/next_1.png" alt="" aria-hidden="true">
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <img src="images/next_2.png" alt="" aria-hidden="true">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="layout-index__sidebar">
                <aside>
                    <ul class="aside__list" id="aside__list">
                        <li id="aside__item" class="aside__item">Бизнес ланч
                            <ul>
                                <li id="aside__link" class="aside__link">
                                    <a href="#" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="#" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="#" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="#" class="">Ланч ПН</a>
                                </li>
                                <li id="aside__link" class="aside__link">
                                    <a href="#" class="">Ланч ПН</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Салаты</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Супы</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Готовые блюда</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Гарниры</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Фаст фуд</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Блинчики</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Напитки</span>
                        </li>
                    </ul>
                    <ul class="aside__list">
                        <li class="aside__item">
                            <span>Впечка</span>
                        </li>
                    </ul>

                    <div class="aside__block">
                        <ul class="aside__list">
                            <li class="aside__item">
                                <span>Праздничное меню на заказ</span>
                            </li>
                        </ul>
                        <ul class="aside__list">
                            <li class="aside__item">
                                <span>Напитки на заказ</span>
                            </li>
                        </ul>
                    </div>
                    <label class="subscribe">
                        <span>Подписывайтесь на новости и акции</span>
                        <input type="mail" placeholder="Оставьте свой email">
                    </label>
                </aside>
            </div>
        </div>
    </div>

</main>


{{> footer }}