@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ffostu");
  src: url("../fonts/icomoon.eot?ffostu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ffostu") format("truetype"), url("../fonts/icomoon.woff?ffostu") format("woff"), url("../fonts/icomoon.svg?ffostu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right:before {
  content: "\e900"; }

.icon-bell:before {
  content: "\e901"; }

.icon-cart:before {
  content: "\e916"; }

.icon-checked:before {
  content: "\e917"; }

.icon-delete:before {
  content: "\e918"; }

.icon-location:before {
  content: "\e919"; }

.icon-person-outline:before {
  content: "\e91a"; }

.icon-person:before {
  content: "\e91b"; }

.icon-phone:before {
  content: "\e91c"; }

.icon-protect:before {
  content: "\e91d"; }

.icon-quote:before {
  content: "\e91e"; }

.icon-search:before {
  content: "\e91f"; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html,
body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #252525; }

ul {
  padding: 0; }

li {
  list-style: none; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

img {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block; }

a {
  color: #575757; }

.nowrap {
  white-space: nowrap; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.align-left {
  justify-content: flex-start !important;
  text-align: left !important; }

.is-flipped {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block; }

.al_cent {
  justify-content: center; }

/* HEADER */
.menu-burger {
  display: none; }

.mobile-header {
  display: none; }

.header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }

.header-top {
  width: 100%;
  padding: 20px 0;
  background: #f7f7f7; }

.header-top__center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__nav {
  flex: 3 2 auto; }

.header-top__menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }

.header-top__item {
  font-size: 16px;
  margin-right: 4%;
  color: #575757; }

.visible {
  display: none; }

.header-top__profile {
  flex: 1 0 auto;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.header-top__profile::before {
  content: url("../images/profile_icon.png");
  width: 15px;
  height: 18px;
  margin-right: 2%; }

.header-top__button {
  transition: all 0.2s;
  flex: 0 0 auto;
  display: block;
  padding: 12px 40px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ee5126;
  background: #ffffff;
  border: 1px solid #ee5126;
  border-radius: 500px; }
  .header-top__button:hover {
    background: #ee5126;
    color: #fff; }

.header-bottom {
  width: 100%;
  padding: 20px 0; }

.header-bottom__center {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.header-bottom__logo {
  flex: 0 0 auto;
  margin-right: 30px; }
  .header-bottom__logo img {
    width: 260px; }

.header-bottom__link {
  flex: 0 0 232px;
  display: flex;
  align-items: center;
  margin-right: 2%;
  white-space: nowrap; }

.header-bottom__icon {
  flex: 0 0 auto;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background: #ee5126;
  border-radius: 50%;
  font-size: 18px;
  color: #fff; }

.telephone__span {
  color: #252525;
  font-style: normal;
  font-weight: 500;
  font-size: 20px; }

.adress {
  color: #252525;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-right: 4%; }

.search {
  flex: 3 2 auto;
  position: relative;
  margin-right: 4%; }

.search__input {
  width: 100%;
  padding: 15px 20px;
  color: BCBCBC;
  background: #ffffff;
  border: none;
  box-shadow: 0px 1px 4px rgba(15, 36, 44, 0.15);
  border-radius: 500px;
  outline: none; }

input:focus {
  color: #ee5126; }

.search__span {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee5126;
  border-radius: 0px 21px 21px 0px; }

.search__img {
  width: 18px; }

.basket {
  flex: 1 0 auto;
  display: flex;
  align-items: center; }

.basket__block {
  display: flex;
  flex-direction: column; }

.basket__cost {
  font-size: 20px;
  white-space: nowrap; }

.basket__quantity {
  color: #575757;
  font-weight: 300;
  font-size: 16px; }

/* MAIN */
.lanch {
  width: 100%;
  background-image: url("../images/section_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin-bottom: 40px; }

.section__title {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.15625;
  font-weight: 500; }
  .section__title--center {
    justify-content: center; }
  .section__title__count {
    padding-left: 1.5625em;
    font-size: 0.5em;
    color: #bcbcbc; }

.pointer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 35px; }

.pointer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px; }

.pointer__button {
  transition: all 0.2s;
  padding: 17px 30px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 500px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #252525; }

.pointer__button:hover {
  background: #ee5126;
  border-color: transparent;
  color: #fff; }

.days__pointer {
  display: flex;
  align-items: center;
  margin-top: 10px; }

.pointer__img {
  width: 16px;
  margin-right: 5%; }

.pointer__span {
  font-size: 14px;
  font-weight: 500;
  color: #ee5126;
  text-transform: uppercase; }

.lanch__wrapper {
  margin: 20px -15px 0 -15px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5; }

.lanch__card {
  margin-bottom: 40px;
  flex: 0 0 auto;
  padding: 0 15px;
  width: 50%; }

.card__img {
  width: 100%; }

.card__title {
  margin-top: 30px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500; }

.card__block {
  font-size: 18px;
  line-height: 1.5; }

.card__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px; }

.card__footer__btn-add {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .card__footer__btn-add i {
    margin: -1em 0.4em -1em 0;
    font-size: 1.5em; }

.card__cost {
  flex: 2 0 auto;
  display: flex;
  margin-right: 3%;
  font-size: 45px;
  color: #ee5126; }

.stepper {
  position: relative;
  margin-right: 3%;
  width: 7.5em;
  font-size: 16px; }

.stepper__field {
  display: flex;
  justify-content: center; }

.stepper__input {
  width: 3.125em;
  height: 3.25em;
  outline: none;
  border: none;
  background: #f7f7f7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1em; }

.stepper__btn {
  position: absolute;
  top: 0;
  font-size: 1em; }

.stepper__btn-minus {
  left: 0;
  width: 2.25em;
  height: 3.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px; }

.stepper__btn-plus {
  right: 0;
  width: 2.25em;
  height: 3.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0px; }

.category {
  width: 100%; }

.category__title {
  display: flex;
  justify-content: space-between; }

.scroll {
  display: flex;
  align-items: center; }

.arrow {
  cursor: pointer;
  width: 52px;
  height: 52px;
  background-color: #f7f7f7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.scroll__line {
  position: relative;
  width: 370px;
  height: 4px;
  background: #f7f7f7;
  border: 0.3px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 500px;
  margin: 0 25px; }

.scroll__line-active {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 4px;
  background: #e5e5e5;
  border: 0.3px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 500px; }

.category__slider {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.category__slider-item {
  width: 18.8959%;
  position: relative;
  cursor: pointer; }

.category__slider-img {
  width: 100%; }

.category__slider-mark {
  position: absolute;
  top: 5%;
  left: 5%;
  background: rgba(238, 81, 38, 0.88);
  padding: 14px 25px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }

.cotegory__pointer {
  display: flex; }

.discount {
  color: #ee5126;
  font-size: 14px; }

.cost__block {
  display: flex; }

.cost__block > .card__cost {
  font-size: 36px; }

.old__cost {
  flex: 0 0 auto;
  display: flex;
  position: relative; }

.old__cost p {
  margin-right: 5px; }

.old__cost p:nth-child(odd) {
  font-weight: 700;
  font-size: 20px; }

.old__cost p:nth-child(2) {
  font-size: 14px;
  font-weight: 500; }

.old__cost p:last-child {
  margin: 0; }

.old__cost-line {
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 27%;
  left: 5%;
  right: 5%; }

.coast__footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; }

.basket-light {
  display: block;
  width: 80px;
  height: 52px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.basket-light img {
  -o-object-fit: scale-down;
     object-fit: scale-down; }

.list span {
  cursor: pointer; }

.aside__list {
  display: block;
  width: 260px;
  text-align: center; }

.aside__item {
  display: flex;
  flex-direction: column; }

.aside__item span {
  position: relative;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  background: #f7f7f7; }

.aside__list {
  border-top: 1px solid #e5e5e5; }

.aside__list:first-child {
  border: none; }

.aside__item ul {
  background: #f7f7f7; }

.aside__link {
  padding: 20px 0 20px 35px;
  text-align: left;
  font-weight: 500;
  font-size: 16px; }

.hide::after {
  content: url("../images/up.png");
  position: absolute;
  right: 25px; }

#aside__item .show {
  background: #efefef; }

.show::after {
  content: url("../images/down.png"); }

.aside__item span::after {
  content: url("../images/down.png"); }

.aside__block {
  margin: 20px 0; }

.subscribe {
  display: flex;
  flex-direction: column; }

.subscribe span {
  font-size: 16px; }

.subscribe input {
  margin-top: 10px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  width: 259px;
  height: 42px;
  color: #a6a6a6;
  padding-left: 25px;
  font-weight: 300;
  font-size: 16px;
  outline: none; }

/* product-card */
.product__slider-wrapper {
  display: flex;
  justify-content: space-between; }

.product__slider-nav {
  width: 24.3629%; }

.product__slider-nav-item {
  display: block;
  margin-bottom: 9.5%;
  cursor: pointer; }

.product__slider-nav-item:first-child {
  border: 2px solid #ee5126; }

.product__slider-nav-item:last-child {
  margin: 0; }

.product__slider-nav-img {
  width: 100%; }

.product__slider {
  width: 73.4964%; }

.product__slider-img {
  height: 100%; }

.product__slider-img:nth-child(n + 2) {
  display: none; }

.feedback {
  width: 100%;
  padding: 5.1%;
  background: #ffffff;
  border: 1px solid #e5e5e5; }

.feedback__logo {
  width: 36px; }

.feedback__title {
  margin: 30px 0;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase; }

.feedback__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

.author {
  display: flex;
  align-items: center; }

.author__icon {
  width: 58px; }

.author__discription {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.author__name {
  font-weight: 500;
  font-size: 16px; }

.author__date {
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px; }

.read-more {
  display: inline-block;
  font-size: 16px;
  text-decoration: underline;
  color: #ee5126; }

.product__card-category {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #bcbcbc;
  margin-bottom: 10px; }

.wd-100 {
  width: 100%; }

.pc-discription__top {
  display: flex;
  justify-content: space-between;
  margin-top: 40px; }

.pc-discription__top-item {
  font-weight: 500;
  font-size: 18px; }

.avalible-ok {
  font-size: 16px;
  display: flex;
  align-items: center; }

.avalible-ok::before {
  content: url("../images/ok.png");
  width: 20px;
  margin-right: 10px; }

.pc-discription__text {
  max-width: 685px;
  font-size: 16px;
  margin: 20px 0; }

.specification {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.specification__title {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase; }

.specification__column {
  display: flex;
  flex-direction: column;
  margin: 0; }

.specification__column:last-child {
  margin-left: 7%; }

.specification__item {
  margin-top: 20px; }

.feedback-form__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline; }

.feedback-form__label {
  width: 47%;
  display: flex;
  flex-direction: column; }

.feedback-form__label:nth-child(n + 3) {
  margin-top: 25px; }

.feedback-form__label:last-child {
  width: 100%; }

.feedback-form__span {
  font-weight: normal;
  font-size: 16px;
  color: #a6a6a6; }

.feedback-form__input {
  height: 42px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 15px;
  color: #000; }

.feedback-form__input:focus {
  outline: none;
  color: #000; }

.feedback-form__textarea {
  height: 42px;
  height: 144px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-top: 5px;
  padding: 15px;
  font-weight: normal;
  font-size: 14px;
  color: #a6a6a6; }

.feedback-form__textarea:focus {
  outline: none;
  color: #000; }

.basket-card {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(116, 116, 116, 0.2);
  border-radius: 4px; }

.basket-card__header {
  position: relative;
  background-image: url("../images/bk-cd-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px; }

.basket-card__header__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/mask.png");
  background-size: cover; }

.basket-card__span {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }

.basket-card__input {
  width: 100%;
  height: 42px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 15px 0;
  font-size: 14px;
  color: #a6a6a6;
  padding: 0 15px; }

.basket-card__input:focus {
  color: #252525;
  outline: none; }

.basket-card__header button {
  display: block;
  margin-left: auto; }

.basket-card__title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 15px 0; }

.basket-card-string {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #e5e5e5; }

.basket-card-string span {
  font-size: 16px; }

.basket-card-discription {
  width: 100%;
  font-size: 14px;
  color: #bcbcbc; }

.basket-card__total {
  padding: 20px 0 25px 0;
  text-align: center; }
  .basket-card__total__label {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.16667;
    color: #252525; }
  .basket-card__total__price {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16667;
    color: #ee5126; }

.basket-card__btns {
  padding: 0 30px 30px 30px; }
  .basket-card__btns > * {
    margin-top: 10px;
    width: 100%; }
    .basket-card__btns > *:first-child {
      margin-top: 0; }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 35px; }

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 0 2px; }

.page-item a {
  font-weight: normal;
  font-size: 16px;
  color: #252525; }

.page-item:hover,
.page-item:active {
  background: #e75b12; }

.page-item:hover a {
  color: #fff; }

.page-item:active a {
  color: #fff; }

.auth__container {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto; }

.auth__container h1 {
  text-align: center; }

.auth__label {
  display: flex;
  flex-direction: column; }

.auth__name {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #575757;
  border: none;
  outline: none;
  padding: 10px 0;
  border-bottom: 2px solid #ee5126; }

.auth__span {
  font-weight: normal;
  font-size: 16px;
  color: #a6a6a6; }

.auth__phone {
  height: 42px;
  margin-top: 5px;
  padding: 0 15px;
  border: none;
  outline: none;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px; }

.checkbox {
  margin-top: 15px;
  display: flex; }

.checkbox input {
  border: none;
  outline: none;
  margin-right: 10px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 2px; }

.checkbox__span a {
  color: #ee5126; }

.auth__container button {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 205px; }

.profile-aside__item {
  padding: 20px;
  background: #f7f7f7; }

.profile-aside__item:last-child {
  background-color: #fff; }

.profile-aside__link {
  display: flex;
  align-items: center; }

.profile-aside__link img {
  width: 18px;
  margin-right: 15px; }

.profile-aside__link span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #252525; }

.profile-content-form__switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px; }

.profile-content-form__switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.profile-content-form__switch input:checked + .profile-content-form__slider {
  background-color: #ee5126; }

.profile-content-form__switch input:checked + .profile-content-form__slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px); }

.switch-margin {
  margin-left: 12px;
  margin-right: 12px; }

.profile-content-form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9e9e9;
  border-radius: 12px;
  transition: all 0.4s ease; }

.profile-content-form__slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.4s ease; }

.my-card__wrapper {
  display: flex;
  align-items: flex-start; }

.my-card__container {
  padding-right: 55px;
  max-width: 520px; }

.my-card__list {
  margin-top: 40px; }

.my-card__list__item {
  margin-top: 15px;
  display: flex;
  align-items: center; }

.my-card__list__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ee5126;
  margin-right: 10px;
  border-radius: 50%; }

.my-card-right {
  width: 60.1186%;
  max-width: 836px; }

.my-card-righ-form {
  width: 100%;
  padding: 30px;
  background: url(../images/sneg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px; }

.my-card-right span {
  display: block;
  width: 340px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }

.my-card-right__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px; }
  .my-card-right__block > * {
    margin-right: 5px;
    margin-top: 10px; }

.my-card-right__input {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 300px;
  height: 42px;
  padding: 0 15px; }

.my-card-right__input {
  outline: none;
  border: 1px solid #e5e5e5; }

.my-card__button {
  font-size: 14px; }

.my-card-right-title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #252525;
  margin: 25px 0; }

.my-card-right-info a {
  color: #ee5126;
  cursor: pointer; }

.visible {
  display: none; }

.delete-rec {
  position: absolute;
  top: 2%;
  right: 5%;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  opacity: 0.92;
  border: 1px solid #e5e5e5;
  border-radius: 50%; }

.delete-rec__img {
  width: 14px; }

@media (max-width: 1399.98px) {
  .header-bottom__center {
    flex-wrap: wrap; }
  .search {
    flex: 0 0 auto;
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    order: 5; }
  .basket {
    flex: 0 0 auto;
    margin-left: auto; } }

@media (max-width: 1299.98px) {
  .pointer {
    margin: 15px -10px 0 -10px; }
    .pointer__item {
      margin: 20px 0 0 0;
      padding: 0 10px;
      width: 40%; }
    .pointer__button {
      width: 100%; } }

@media (max-width: 1149.98px) {
  .header-bottom__logo {
    width: 100%;
    margin-bottom: 20px; } }

@media (max-width: 767.98px) {
  .header {
    display: none; }
  .mobile-header {
    display: block;
    width: 100%;
    position: relative; }
  .mobile-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px; }
  .mobile-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px; }
  .mobile-header__link:first-child {
    background: #ee5126; }
  .mobile-header__link:nth-child(2) {
    background: #fff;
    width: 107px;
    height: 15px;
    border-radius: 0%; }
  .mobile-header__link:last-child {
    margin-right: 0; }
  .burger__icon {
    width: 20px; }
  .mobile-header__logo {
    width: 107px; }
  .mobile-header__icon {
    width: 18px; }
  .mobile-header__label {
    position: relative; }
  .mobile-header__label input {
    height: 42px;
    width: 100%;
    padding: 0 15px;
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(15, 36, 44, 0.15);
    border-radius: 0px;
    font-size: 14px;
    color: #bcbcbc;
    outline: none;
    border: none; }
  .mobile-header__cancel {
    position: absolute;
    right: 15px;
    top: 3px;
    width: 12px;
    height: 12px; }
  .menu-burger-container {
    width: 300px;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 15px; }
  .menu-burger {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; }
  .menu-burger:target {
    visibility: visible; }
  .header-top__menu {
    flex-direction: column;
    align-items: flex-start; }
  .burger__cancel-img {
    width: 16px; }
  .burger-button {
    margin: 20px 0;
    width: 196px; }
  .header-top__item {
    margin-bottom: 15px; }
  .header-top__menu {
    border-bottom: 1px solid #e5e5e5; }
  .header-bottom__link {
    margin-top: 20px; }
  .section__title {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px; }
  .lanch__card {
    width: 100%; }
  .card__title {
    font-size: 18px; }
  .card__block {
    font-size: 16px; }
  .card__cost {
    font-size: 40px; }
  .card__footer__btn-add {
    margin-top: 15px;
    width: 100%; }
  .scroll__line {
    display: none; }
  .arrow {
    margin-right: 10px; }
  .lanch {
    margin-bottom: 10px; }
  .category__slider-item {
    width: 100%; }
  .category__slider-item:nth-child(n + 2) {
    display: none; }
  .category__slider-img {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover; }
  .category__slider {
    margin-top: 0; }
  .hidden {
    display: none; }
  .visible {
    display: block; }
  .card__img {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover; }
  .mobile-flex {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .card__cost {
    flex: 0 0 auto;
    margin-right: 10px; }
  .old__cost {
    padding-top: 15px; }
  .old__cost-line {
    top: 62%; }
  .mobile-action {
    width: 100%; }
  .pc-mb-ttl {
    margin-top: 10px;
    margin-bottom: 20px; }
  .pc-discription__top {
    margin-top: 0; }
  .pc-discription__top-item {
    font-size: 16px; }
  .avalible-ok {
    font-size: 14px; }
  .pc-discription__text {
    font-size: 14px; }
  .specification__title {
    font-size: 16px; }
  .specification__column {
    width: 40%; }
  .specification__column:last-child {
    margin-left: 0;
    width: 55%; }
  .specification__item {
    font-size: 14px; }
  .category__title {
    align-items: center;
    margin-top: 40px; }
  .feedback__title {
    font-size: 16px; }
  .feedback__text {
    font-size: 14px; }
  .feedback__footer {
    flex-direction: column; }
  .author {
    align-self: flex-start; }
  .read-more {
    margin-top: 15px; }
  .feedback-form__label {
    width: 100%; }
  .feedback-form__label:nth-child(2) {
    margin-top: 25px; }
  .feedback-form__smiles {
    margin-top: 25px; }
  .stepper-right {
    margin-left: auto; }
  .w-m {
    width: 50%; }
  .w100 {
    width: 100%;
    display: flex; }
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .tx-c {
    text-align: center; }
  .jcl {
    justify-content: flex-start; }
  .hd {
    display: none; }
  .my-card__wrapper {
    flex-direction: column-reverse; }
  .my-card-right {
    width: 100%; }
  .my-card-right span {
    width: 100%; }
  .my-card-right__block {
    flex-direction: column; }
  .my-card-righ-form {
    padding: 20px 15px; }
  .my-card__button {
    margin-top: 20px; }
  .auth__container {
    width: 100%; }
  .rel {
    position: relative; }
  .pointer {
    margin-top: -15px;
    justify-content: left; }
    .pointer__item {
      width: 50%;
      margin-top: 10px;
      padding: 0 5px; }
    .pointer__button {
      padding-right: 10px;
      padding-left: 10px;
      font-size: 14px; } }

.swiper-scrollbar {
  height: 4px;
  background: #f7f7f7; }

.swiper-scrollbar-drag {
  background: #e5e5e5; }

.btn, .btn-orange, .btn-white, .btn-gray {
  transition: all 0.2s;
  display: inline-block;
  padding: 1em 1.5625em;
  border: 1px solid transparent;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875; }

.btn-orange {
  background: #ee5126;
  color: #fff; }
  .btn-orange:hover {
    background: #f0643e; }

.btn-white {
  background: #fff;
  border-color: #ee5126;
  color: #ee5126; }
  .btn-white:hover {
    background: #ee5126;
    border-color: transparent;
    color: #fff; }

.btn-gray {
  border-color: #e5e5e5;
  background: #f7f7f7;
  color: #252525; }
  .btn-gray:hover {
    background: #ee5126;
    border-color: transparent;
    color: #fff; }

.input-default {
  transition: all 0.2s;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: #fff;
  padding: 0.92857em 1.07143em;
  font-size: 14px;
  color: #252525 !important; }
  .input-default:focus {
    border-color: #bfbfbf;
    outline: none; }

.price {
  font-weight: 700; }
  .price > span:nth-child(2) {
    margin: 0 -0.2em;
    vertical-align: top;
    font-size: 0.5em;
    font-weight: normal; }
  .price > span:nth-child(3) {
    font-weight: normal; }

.layout__center {
  padding: 0 20px;
  max-width: 1600px;
  margin: 0 auto; }

.layout-index {
  display: flex;
  flex-direction: row-reverse; }
  .layout-index__sidebar {
    flex: 0 0 auto;
    width: 260px; }
  .layout-index__content {
    flex: 0 0 auto;
    width: calc(100% - 260px);
    padding-left: 30px; }

@media (max-width: 991.98px) {
  .layout-index__sidebar {
    display: none; }
  .layout-index__content {
    width: 100%;
    padding-left: 0; } }

.layout-cart {
  display: flex; }
  .layout-cart__sidebar {
    flex: 0 0 auto;
    width: 400px; }
  .layout-cart__content {
    flex: 0 0 auto;
    width: calc(100% - 400px);
    padding-right: 30px; }

@media (max-width: 991.98px) {
  .layout-cart {
    flex-wrap: wrap; }
    .layout-cart__sidebar {
      width: 100%;
      margin-top: 25px; }
    .layout-cart__content {
      width: 100%;
      padding-right: 0; } }

.layout-profile {
  display: flex;
  flex-direction: row-reverse; }
  .layout-profile__sidebar {
    flex: 0 0 auto;
    width: 260px; }
  .layout-profile__content {
    flex: 0 0 auto;
    width: calc(100% - 260px);
    padding-left: 30px; }

@media (max-width: 991.98px) {
  .layout-profile {
    flex-direction: column-reverse; }
    .layout-profile__sidebar {
      width: 100%; }
    .layout-profile__content {
      width: 100%;
      padding-left: 0; } }

.layout-try {
  display: flex; }
  .layout-try__sidebar {
    flex: 0 0 auto;
    width: 33.33%; }
  .layout-try__content {
    flex: 0 0 auto;
    padding-right: 30px;
    width: 66.66%; }

@media (max-width: 1199.98px) {
  .layout-try {
    display: block; }
    .layout-try__sidebar {
      width: 100%;
      margin-top: 40px; }
    .layout-try__content {
      width: 100%; } }

@media (max-width: 991.98px) {
  .layout-try__sidebar {
    margin-top: 25px; } }

.nav-breadcrumbs {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.14286; }
  .nav-breadcrumbs--hidden {
    opacity: 0; }
  .nav-breadcrumbs__link {
    color: #575757; }
    .nav-breadcrumbs__link:hover {
      color: #646464; }
  .nav-breadcrumbs__sep {
    margin: 0 5px;
    color: #575757; }
  .nav-breadcrumbs__text {
    color: #ee5126; }

.nav-tabs {
  display: flex; }
  .nav-tabs__item {
    transition: all 0.2s;
    margin-right: 15px;
    padding: 1em 1.875em;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    background: #f7f7f7;
    color: #252525; }
    .nav-tabs__item:hover, .nav-tabs__item.active {
      background: #ee5126;
      border-color: transparent;
      color: #fff; }

.nav-select {
  position: relative;
  display: inline-flex; }
  .nav-select.active .nav-select__label i {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .nav-select.active .nav-select__list {
    display: block; }
  .nav-select__label {
    display: flex;
    align-items: center;
    padding: 0.92857em 1.42857em;
    background: #ee5126;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286;
    color: #fff; }
    .nav-select__label span {
      margin-right: 1.42857em; }
    .nav-select__label i {
      transition: all 0.2s;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      display: inline-block;
      margin-left: auto; }
  .nav-select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden; }
  .nav-select__item {
    display: block;
    padding: 0.92857em 1.42857em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14286; }
    .nav-select__item:hover {
      background: #f7f7f7; }

.tabs-panes {
  position: relative; }
  .tabs-panes__item {
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    padding-top: 1px;
    overflow: hidden; }
    .tabs-panes__item.active {
      position: static;
      visibility: visible;
      opacity: 1;
      height: auto;
      overflow: visible; }

.goods-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-top: -30px; }
  .goods-cards__image {
    background-size: cover;
    background-position: 50% 50%; }
    .goods-cards__image:before {
      content: " ";
      padding-top: 90%;
      display: block; }
  .goods-cards__col {
    flex: 0 0 auto;
    min-width: 250px;
    padding: 0 10px;
    margin-top: 30px;
    width: 20%; }
  .goods-cards__item {
    position: relative; }
  .goods-cards__tags {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px; }
    .goods-cards__tags__item {
      display: inline-flex;
      align-items: center;
      height: 2.875em;
      padding: 0 1.5625em;
      background: rgba(238, 81, 38, 0.88);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.1875;
      text-transform: uppercase;
      color: #fff; }
  .goods-cards__btn-delete {
    transition: all 0.2s;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1em;
    border-radius: 50%;
    background: rgba(247, 247, 247, 0.9);
    font-size: 16px;
    line-height: 0; }
    .goods-cards__btn-delete:hover {
      background: rgba(255, 255, 255, 0.9); }
  .goods-cards__title {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 15px 0; }

@media (max-width: 767.98px) {
  .goods-cards {
    margin-top: -15px; }
    .goods-cards__image {
      height: 180px; }
      .goods-cards__image:before {
        display: none; }
    .goods-cards__col {
      width: 100%;
      margin-top: 15px; }
    .goods-cards__tags__item {
      font-size: 14px; }
    .goods-cards__btn-delete {
      font-size: 12px; } }

.goods-edit__head {
  display: flex;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500; }
  .goods-edit__head > div {
    flex: 0 0 auto;
    padding-right: 20px; }
    .goods-edit__head > div:nth-child(1) {
      flex: 1 1 auto; }
    .goods-edit__head > div:nth-child(2) {
      width: 160px; }
    .goods-edit__head > div:nth-child(3), .goods-edit__head > div:nth-child(4) {
      width: 130px; }
    .goods-edit__head > div:nth-child(5) {
      width: 50px; }

.goods-edit__item {
  position: relative;
  padding: 15px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center; }

.goods-edit__about {
  flex: 1 1 auto;
  display: flex;
  align-items: center; }

.goods-edit__count {
  flex: 0 0 auto;
  padding-right: 20px;
  width: 160px; }

.goods-edit__price {
  flex: 0 0 auto;
  padding-right: 20px;
  width: 130px; }
  .goods-edit__price__label {
    display: none; }

.goods-edit__total {
  flex: 0 0 auto;
  padding-right: 20px;
  width: 130px; }

.goods-edit__delete {
  flex: 0 0 auto;
  padding-right: 20px;
  width: 50px; }

.goods-edit__image {
  flex: 0 0 auto;
  background-size: cover;
  background-position: 50% 50%;
  width: 140px; }
  .goods-edit__image:before {
    content: " ";
    padding-top: 75%;
    display: block; }

.goods-edit__text {
  padding-left: 20px;
  padding-right: 20px; }

.goods-edit__title {
  font-size: 18px;
  font-weight: 500; }

.goods-edit__desc {
  margin-top: 5px;
  font-size: 14px;
  color: #bcbcbc; }

.goods-edit__btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  background: #f7f7f7;
  font-size: 12px; }
  .goods-edit__btn-delete:hover {
    background: #fafafa; }

@media (max-width: 1299.98px) {
  .goods-edit__head {
    display: none; }
  .goods-edit__item {
    flex-wrap: wrap; }
    .goods-edit__item:nth-child(2) {
      border-top: 0;
      padding-top: 0; }
  .goods-edit__about {
    flex: 0 0 auto;
    padding-right: 70px;
    margin-bottom: 15px;
    width: 100%; }
  .goods-edit__price__label {
    display: block;
    margin-bottom: 7px;
    font-weight: 500; }
  .goods-edit__image {
    width: 120px; }
  .goods-edit__delete {
    position: absolute;
    top: 15px;
    right: 0; } }

@media (max-width: 991.98px) {
  .goods-edit__item {
    border-top: 0;
    border-bottom: 1px solid #e5e5e5; } }

@media (max-width: 767.98px) {
  .goods-edit__about {
    padding-right: 30px; }
  .goods-edit__count {
    width: auto;
    padding-right: 15px; }
  .goods-edit__price {
    width: auto;
    padding-right: 15px; }
    .goods-edit__price__label {
      font-size: 14px; }
  .goods-edit__total {
    width: auto;
    padding-right: 0; }
  .goods-edit__image {
    width: 95px; }
  .goods-edit__text {
    padding-left: 10px;
    padding-right: 0; }
  .goods-edit__title {
    font-size: 14px; }
  .goods-edit__desc {
    font-size: 12px; }
  .goods-edit__delete {
    padding-right: 0;
    width: auto; }
  .goods-edit__btn-delete {
    font-size: 7px; }
  .goods-edit .basket__cost {
    font-size: 16px; }
  .goods-edit .stepper {
    font-size: 12px; } }

@media (max-width: 767.98px) {
  .slider-reviews .section__title {
    text-align: left; } }

.slider-cards__header {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }

.slider-cards__ctrl {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 40%;
  margin-left: auto; }

.slider-cards__prev, .slider-cards__next {
  flex: 0 0 auto;
  border-radius: 50%;
  width: 3.25em;
  height: 3.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #f7f7f7; }
  .slider-cards__prev:hover, .slider-cards__next:hover {
    background: #fafafa; }

.slider-cards__handle {
  flex-grow: 1;
  padding: 0 25px; }

.slider-cards__slider {
  overflow: hidden; }

.slider-cards .swiper {
  margin: 0 -10px; }

.slider-cards .swiper-slide {
  width: 20%;
  min-width: 250px;
  padding: 0 10px; }

@media (max-width: 767.98px) {
  .slider-cards__handle {
    display: none; }
  .slider-cards__ctrl {
    width: auto; }
  .slider-cards__prev, .slider-cards__next {
    margin-left: 10px;
    font-size: 13px; }
  .slider-cards .section__title {
    text-align: left; }
  .slider-cards .swiper-slide {
    width: 100%; } }

.footer {
  padding: 40px 0;
  margin-top: 50px;
  background: #f7f7f7; }
  .footer__center {
    display: flex;
    align-items: center;
    margin-left: 260px;
    padding-left: 30px; }
  .footer__copyright {
    flex: 0 0 auto;
    width: 50%;
    padding-right: 40px;
    color: #575757; }
  .footer__link {
    display: flex;
    align-items: center;
    margin-right: 40px; }
  .footer__link:last-child {
    margin-right: 0; }
  .footer__span {
    margin-left: 10px;
    color: #575757; }
  .footer__img {
    width: 18px; }
  .footer__img-adress {
    width: 14px; }

@media (max-width: 1199.98px) {
  .footer__center {
    margin-left: 0;
    padding-left: 0; } }

@media (max-width: 991.98px) {
  .footer {
    padding: 30px 0; }
    .footer__center {
      display: block; }
    .footer__copyright {
      width: auto; }
    .footer__link {
      margin-top: 25px; } }

.page-index__section {
  margin-top: 40px; }

.page-index__promo__tabs {
  position: relative;
  z-index: 100;
  display: inline-flex;
  margin-bottom: 35px; }

.page-index__promo__select {
  position: relative;
  z-index: 100;
  display: none; }

.page-index__promo__slider-header {
  margin-top: -90px;
  margin-bottom: 35px; }

@media (max-width: 767.98px) {
  .page-index__promo__tabs {
    display: none; }
  .page-index__promo__select {
    display: inline-flex; }
  .page-index__promo__slider-header {
    margin-top: -43px;
    margin-bottom: 25px; } }

.page-product__about, .page-product__reviews {
  display: flex;
  margin-top: 50px; }
  .page-product__about__left, .page-product__reviews__left {
    flex: 0 0 auto;
    width: 50%; }
  .page-product__about__right, .page-product__reviews__right {
    flex: 0 0 auto;
    padding-left: 30px;
    width: 50%; }

@media (max-width: 991.98px) {
  .page-product__about, .page-product__reviews {
    display: block; }
    .page-product__about__left, .page-product__reviews__left {
      width: auto; }
    .page-product__about__right, .page-product__reviews__right {
      width: auto;
      padding-left: 0; }
  .page-product__about__right {
    margin-top: 20px; }
  .page-product__reviews {
    margin-top: 40px; }
    .page-product__reviews__right {
      margin-top: 40px; } }

.page-profile__title-mobile {
  display: none; }

@media (max-width: 991.98px) {
  .page-profile__title-desktop {
    display: none; }
  .page-profile__title-mobile {
    display: flex; } }

.form-feedback__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px; }
  .form-feedback__header__title {
    padding-right: 20px; }

.form-feedback__emotions {
  display: flex;
  flex-wrap: wrap; }
  .form-feedback__emotions > label {
    position: relative;
    width: calc(min(58px, 20%)); }
    .form-feedback__emotions > label input {
      position: absolute;
      top: 0;
      visibility: hidden; }
    .form-feedback__emotions > label div {
      transition: all 0.2s;
      padding-top: 100%;
      background-position: 50% 50%;
      background-size: cover; }
    .form-feedback__emotions > label input:checked + div,
    .form-feedback__emotions > label div:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.form-feedback__apply {
  margin-top: 25px;
  text-align: right; }

@media (max-width: 767.98px) {
  .form-feedback__header {
    display: block;
    text-align: center;
    margin-bottom: 30px; }
  .form-feedback__apply button {
    width: 100%; } }

.form-profile {
  padding: 50px 115px;
  background: #f7f7f7;
  margin-top: 25px; }
  .form-profile:first-child {
    margin-top: 0; }
  .form-profile__header {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #ee5126; }
    .form-profile__header i {
      position: absolute;
      left: -70px;
      top: 50%;
      margin-top: -0.5em; }
  .form-profile__row {
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap; }
  .form-profile__item {
    padding: 0 10px;
    margin-top: 20px;
    flex: 0 0 auto;
    width: 33.33%; }
  .form-profile__label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #a6a6a6; }
  .form-profile__notify {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-right: -10px;
    margin-left: -10px;
    font-size: 16px; }
    .form-profile__notify:nth-child(1) {
      margin-top: 20px; }
      .form-profile__notify:nth-child(1) .form-profile__notify__type {
        display: block;
        margin-top: -1.5em; }
    .form-profile__notify__label {
      flex: 0 0 auto;
      width: 33.33%;
      padding: 0 10px; }
      .form-profile__notify__label a {
        color: #ee5126; }
    .form-profile__notify__group {
      flex: 0 0 auto;
      width: 66.66%;
      padding: 0 10px;
      display: flex; }
    .form-profile__notify__radio {
      width: 33%;
      padding-right: 20px;
      max-width: 115px;
      min-width: 90px; }
    .form-profile__notify__type {
      display: none;
      margin-bottom: 10px; }
  .form-profile__apply {
    margin-top: 25px; }

@media (max-width: 1299.98px) {
  .form-profile__item {
    width: 50%; }
  .form-profile__notify__label, .form-profile__notify__group {
    width: 50%; } }

@media (max-width: 991.98px) {
  .form-profile {
    margin-top: 40px !important; } }

@media (max-width: 767.98px) {
  .form-profile {
    margin-right: -20px;
    margin-left: -20px;
    padding: 25px 20px; }
    .form-profile__header {
      padding-left: 40px;
      font-size: 16px; }
      .form-profile__header i {
        left: 0; }
    .form-profile__item {
      margin-top: 15px;
      width: 100%; }
    .form-profile__label {
      font-size: 14px; }
    .form-profile__notify {
      flex-wrap: wrap;
      font-size: 14px; }
      .form-profile__notify__label {
        margin-bottom: 10px;
        width: 100%; }
      .form-profile__notify__group {
        width: 100%; }
      .form-profile__notify__type {
        margin-top: 0 !important;
        display: block; }
    .form-profile__apply button {
      width: 100%; } }
