<footer class="footer">
    <div class="layout__center">
        <div class="footer__center">
            <div class="footer__copyright">@ 2021 Название сайта. Доставка товаров на дом.</div>
            <a href="tel:+79999123341" class="footer__link nowrap">
                <img src="images/ft_phone.svg" alt="" class="footer__img">
                <span class="footer__span">+7 (999) 912-33-41</span>
            </a>
            <div class="footer__link">
                <img src="images/ft_label.png" alt="" class="footer__img-adress">
                <span class="footer__span">163057, г. Архангельск, ул. Тимме, д.4, корп.3</span>
            </div>
        </div>
    </div>
</footer>
<div id="menu-burger" class="menu-burger">
    <div class="menu-burger-container">
        <a href="#" class="burger__cancel">
            <img src="images/mobile-header/cancel-burger.png" alt="" class="burger__cancel-img">
        </a>
        <a href="#" class="header-top__button burger-button">Мне повезет</a>
        <ul class="header-top__menu">
            <li class="header-top__item">
                <a href="#" class="header-top__link">Главная</a>
            </li>
            <li class="header-top__item">
                <a href="#" class="header-top__link">Акции</a>
            </li>
            <li class="header-top__item">
                <a href="#" class="header-top__link">Помощь</a>
            </li>
            <li class="header-top__item">
                <a href="#" class="header-top__link">Доставка и оплата</a>
            </li>
            <li class="header-top__item">
                <a href="#" class="header-top__link">Оптовым покупателям</a>
            </li>
            <li class="header-top__item">
                <a href="#" class="header-top__link">Отзывы</a>
            </li>
        </ul>
        <div class="header-bottom__link">
            <img src="images/label.png" alt="" class="header-bottom__img">
            <span class="adress">163057, г. Архангельск,<br>ул. Тимме, д.4, корп.3</span>
        </div>
        <a href="tel:+79999123341" class="header-bottom__link">
            <img src="images/phone.svg" alt="" class="header-bottom__img">
            <span class="telephone__span">+7 (999) 912-33-41</span>
        </a>
    </div>
</div>