<div class="mobile-header">
    <div class="mobile-header__wrapper">
        <a href="#menu-burger" class="mobile-header__link">
            <img src="images/mobile-header/burger.png" alt="" class="burger__icon">
        </a>
        <a href="#" class="mobile-header__link">
            <img src="images/logo.png" alt="" class="mobile-header__logo">
        </a>
        <a href="#" class="mobile-header__link">
            <img src="images/mobile-header/wand.png" alt="" class="mobile-header__icon">
        </a>
        <a href="#" class="mobile-header__link">
            <img src="images/mobile-header/phone.svg" alt="" class="mobile-header__icon">
        </a>
        <a href="#" class="mobile-header__link">
            <img src="images/mobile-header/basket.png" alt="" class="mobile-header__icon">
        </a>
    </div>
    <label for="" class="mobile-header__label">
        <input type="search" placeholder="Поиск по сайту">
        <a href="#" class="mobile-header__cancel">
            <img src="images/mobile-header/cancel.png" alt="">
        </a>
    </label>
</div>

<header class="header">
    <div class="header-top">
        <div class="layout__center">
            <div class="header-top__center">
                <nav class="header__nav">
                    <ul class="header-top__menu">
                        <li class="header-top__item">
                            <a href="#" class="header-top__link">Главная</a>
                        </li>
                        <li class="header-top__item">
                            <a href="#" class="header-top__link">Акции</a>
                        </li>
                        <li class="header-top__item">
                            <a href="#" class="header-top__link">Помощь</a>
                        </li>
                        <li class="header-top__item">
                            <a href="#" class="header-top__link">Доставка и оплата</a>
                        </li>
                        <li class="header-top__item">
                            <a href="#" class="header-top__link">Оптовым покупателям</a>
                        </li>
                        <li class="header-top__item">
                            <a href="#" class="header-top__link">Отзывы</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="header-top__profile">Войти / Регистрация</a>
                <a href="#" class="header-top__button">Мне повезет</a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="layout__center">
            <div class="header-bottom__center">
           
                <div class="header-bottom__logo">
                    <img src="images/temp/logo.svg" alt="">
                </div>
                <a href="tel:+79999123341" class="header-bottom__link">
                    <div class="header-bottom__icon">
                        <i class="icon-phone"></i>
                    </div>
                    <span class="telephone__span">+7 (999) 912-33-41</span>
                </a>
                <div class="header-bottom__link">
                    <div class="header-bottom__icon">
                        <i class="icon-location"></i>
                    </div>
                    <span class="adress">163057, г. Архангельск,<br>ул. Тимме, д.4, корп.3</span>
                </div>
                <label class="search">
                    <input type="search" class="search__input" placeholder="Поиск по сайту">
                    <button class="search__span">
                        <img src="images/search.png" alt="" class="search__img">
                    </button>
                </label>
                <div class="basket">
                    <div class="header-bottom__icon">
                        <i class="icon-phone"></i>
                    </div>
                    <div class="basket__block">
                        <span class="basket__cost">12 520 руб.</span>
                        <span class="basket__quantity">2 товара</span>
                    </div>
                </div>

             </div>
        </div>
    </div>
</header>