@import "./components/fonts.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	min-width: 320px;
	font-family: "Roboto", sans-serif;
	color: #252525;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

img {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}
a {
	color: #575757;
}

.nowrap {
	white-space: nowrap;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.align-left {
	justify-content: flex-start !important;
	text-align: left !important;
}

.is-flipped {
	transform: rotate(180deg);
	display: inline-block;
}

.al_cent {
	justify-content: center;
}

/* HEADER */

.menu-burger {
	display: none;
}

.mobile-header {
	display: none;
}

.header {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}

.header-top {
	width: 100%;
	padding: 20px 0;
	background: #f7f7f7;
}

.header-top__center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	flex: 3 2 auto;
}

.header-top__menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.header-top__item {
	font-size: 16px;
	margin-right: 4%;
	color: #575757;
}

.visible {
	display: none;
}

.header-top__profile {
	flex: 1 0 auto;
	margin-right: 5%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-top__profile::before {
	content: url("../images/profile_icon.png");
	width: 15px;
	height: 18px;
	margin-right: 2%;
}

.header-top__button {
	transition: all 0.2s;
	flex: 0 0 auto;
	display: block;
	padding: 12px 40px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	color: #ee5126;
	background: #ffffff;
	border: 1px solid #ee5126;
	border-radius: 500px;

	&:hover {
		background: #ee5126;
		color: #fff;
	}
}

.header-bottom {
	width: 100%;
	padding: 20px 0;
}

.header-bottom__center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-bottom__logo {
	flex: 0 0 auto;
	margin-right: 30px;

	img {
		width: 260px;
	}
}

.header-bottom__link {
	flex: 0 0 232px;
	display: flex;
	align-items: center;
	margin-right: 2%;
	white-space: nowrap;
}

.header-bottom__icon {
	flex: 0 0 auto;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	background: #ee5126;
	border-radius: 50%;
	font-size: 18px;
	color: #fff;
}

.telephone__span {
	color: #252525;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.adress {
	color: #252525;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	margin-right: 4%;
}

.search {
	flex: 3 2 auto;
	position: relative;
	margin-right: 4%;
}

.search__input {
	width: 100%;
	padding: 15px 20px;
	color: BCBCBC;
	background: #ffffff;
	border: none;
	box-shadow: 0px 1px 4px rgba(15, 36, 44, 0.15);
	border-radius: 500px;
	outline: none;
}

input:focus {
	color: #ee5126;
}

.search__span {
	cursor: pointer;
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ee5126;
	border-radius: 0px 21px 21px 0px;
}

.search__img {
	width: 18px;
}

.basket {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
}

.basket__block {
	display: flex;
	flex-direction: column;
}

.basket__cost {
	font-size: 20px;
	white-space: nowrap;
}

.basket__quantity {
	color: #575757;
	font-weight: 300;
	font-size: 16px;
}

/* MAIN */

.lanch {
	width: 100%;
	background-image: url("../images/section_bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	margin-bottom: 40px;
}

.section__title {
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 32px;
	line-height: (37/32);
	font-weight: 500;

	&--center {
		justify-content: center;
	}

	&__count {
		padding-left: 25/16 + em;
		font-size: 16/32 + em;
		color: #bcbcbc;
	}
}

.pointer {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 35px;
}

.pointer__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 8px;
}

.pointer__button {
	transition: all 0.2s;
	padding: 17px 30px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 500px;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	color: #252525;
}

.pointer__button:hover {
	background: #ee5126;
	border-color: transparent;
	color: #fff;
}

.days__pointer {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.pointer__img {
	width: 16px;
	margin-right: 5%;
}

.pointer__span {
	font-size: 14px;
	font-weight: 500;
	color: #ee5126;
	text-transform: uppercase;
}

.lanch__wrapper {
	margin: 20px -15px 0 -15px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #e5e5e5;
}

.lanch__card {
	margin-bottom: 40px;
	flex: 0 0 auto;
	padding: 0 15px;
	width: 50%;
}

.card__img {
	width: 100%;
}

.card__title {
	margin-top: 30px;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 500;
}

.card__block {
	font-size: 18px;
	line-height: 1.5;
}

.card__footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;
}

.card__footer__btn-add {
	min-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;

	i {
		margin: -1em 0.4em -1em 0;
		font-size: 1.5em;
	}
}

.card__cost {
	flex: 2 0 auto;
	display: flex;
	margin-right: 3%;
	font-size: 45px;
	color: #ee5126;
}

.stepper {
	position: relative;
	margin-right: 3%;
	width: 120/16 + em;
	font-size: 16px;
}

.stepper__field {
	display: flex;
	justify-content: center;
}

.stepper__input {
	width: 50/16 + em;
	height: 52/16 + em;
	outline: none;
	border: none;
	background: #f7f7f7;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	font-size: 1em;
}

.stepper__btn {
	position: absolute;
	top: 0;
	font-size: 1em;
}

.stepper__btn-minus {
	left: 0;
	width: 36/16 + em;
	height: 52/16 + em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 4px 0px 0px 4px;
}

.stepper__btn-plus {
	right: 0;
	width: 36/16 + em;
	height: 52/16 + em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 0px 4px 4px 0px;
}

.category {
	width: 100%;
}

.category__title {
	display: flex;
	justify-content: space-between;
}

.scroll {
	display: flex;
	align-items: center;
}

.arrow {
	cursor: pointer;
	width: 52px;
	height: 52px;
	background-color: #f7f7f7;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll__line {
	position: relative;
	width: 370px;
	height: 4px;
	background: #f7f7f7;
	border: 0.3px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 500px;
	margin: 0 25px;
}

.scroll__line-active {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 4px;
	background: #e5e5e5;
	border: 0.3px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 500px;
}

.category__slider {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category__slider-item {
	width: 18.8959%;
	position: relative;
	cursor: pointer;
}

.category__slider-img {
	width: 100%;
}

.category__slider-mark {
	position: absolute;
	top: 5%;
	left: 5%;
	background: rgba(238, 81, 38, 0.88);
	padding: 14px 25px;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

.cotegory__pointer {
	display: flex;
}

.discount {
	color: #ee5126;
	font-size: 14px;
}

.cost__block {
	display: flex;
}

.cost__block > .card__cost {
	font-size: 36px;
}

.old__cost {
	flex: 0 0 auto;
	display: flex;
	position: relative;
}

.old__cost p {
	margin-right: 5px;
}

.old__cost p:nth-child(odd) {
	font-weight: 700;
	font-size: 20px;
}

.old__cost p:nth-child(2) {
	font-size: 14px;
	font-weight: 500;
}

.old__cost p:last-child {
	margin: 0;
}

.old__cost-line {
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 27%;
	left: 5%;
	right: 5%;
}

.coast__footer {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.basket-light {
	display: block;
	width: 80px;
	height: 52px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.basket-light img {
	object-fit: scale-down;
}

.list span {
	cursor: pointer;
}

.aside__list {
	display: block;
	width: 260px;
	text-align: center;
}

.aside__item {
	display: flex;
	flex-direction: column;
}

.aside__item span {
	position: relative;
	width: 100%;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	text-align: left;

	background: #f7f7f7;
}

.aside__list {
	border-top: 1px solid #e5e5e5;
}

.aside__list:first-child {
	border: none;
}

.aside__item ul {
	background: #f7f7f7;
}

.aside__link {
	padding: 20px 0 20px 35px;
	text-align: left;
	font-weight: 500;
	font-size: 16px;
}

.hide::after {
	content: url("../images/up.png");
	position: absolute;
	right: 25px;
}

#aside__item .show {
	background: #efefef;
}

.show::after {
	content: url("../images/down.png");
}

.aside__item span::after {
	content: url("../images/down.png");
}

.aside__block {
	margin: 20px 0;
}

.subscribe {
	display: flex;
	flex-direction: column;
}

.subscribe span {
	font-size: 16px;
}

.subscribe input {
	margin-top: 10px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	width: 259px;
	height: 42px;
	color: #a6a6a6;
	padding-left: 25px;
	font-weight: 300;
	font-size: 16px;
	outline: none;
}

/* product-card */

.product__slider-wrapper {
	display: flex;
	justify-content: space-between;
}

.product__slider-nav {
	width: 24.3629%;
}

.product__slider-nav-item {
	display: block;
	margin-bottom: 9.5%;
	cursor: pointer;
}

.product__slider-nav-item:first-child {
	border: 2px solid #ee5126;
}

.product__slider-nav-item:last-child {
	margin: 0;
}

.product__slider-nav-img {
	width: 100%;
}

.product__slider {
	width: 73.4964%;
}

.product__slider-img {
	height: 100%;
}

.product__slider-img:nth-child(n + 2) {
	display: none;
}

.feedback {
	width: 100%;
	padding: 5.1%;
	background: #ffffff;
	border: 1px solid #e5e5e5;
}

.feedback__logo {
	width: 36px;
}

.feedback__title {
	margin: 30px 0;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
}

.feedback__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.author {
	display: flex;
	align-items: center;
}

.author__icon {
	width: 58px;
}

.author__discription {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.author__name {
	font-weight: 500;
	font-size: 16px;
}

.author__date {
	color: #bcbcbc;
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
}

.read-more {
	display: inline-block;
	font-size: 16px;
	text-decoration: underline;
	color: #ee5126;
}

.product__card-category {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #bcbcbc;
	margin-bottom: 10px;
}

.wd-100 {
	width: 100%;
}

.pc-discription__top {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.pc-discription__top-item {
	font-weight: 500;
	font-size: 18px;
}

.avalible-ok {
	font-size: 16px;
	display: flex;
	align-items: center;
}

.avalible-ok::before {
	content: url("../images/ok.png");
	width: 20px;
	margin-right: 10px;
}

.pc-discription__text {
	max-width: 685px;
	font-size: 16px;
	margin: 20px 0;
}

.specification {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.specification__title {
	width: 100%;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}

.specification__column {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.specification__column:last-child {
	margin-left: 7%;
}

.specification__item {
	margin-top: 20px;
}

.feedback-form__block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.feedback-form__label {
	width: 47%;
	display: flex;
	flex-direction: column;
}

.feedback-form__label:nth-child(n + 3) {
	margin-top: 25px;
}

.feedback-form__label:last-child {
	width: 100%;
}

.feedback-form__span {
	font-weight: normal;
	font-size: 16px;
	color: #a6a6a6;
}

.feedback-form__input {
	height: 42px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-top: 5px;
	padding: 0 15px;
	color: #000;
}

.feedback-form__input:focus {
	outline: none;
	color: #000;
}

.feedback-form__textarea {
	height: 42px;
	height: 144px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-top: 5px;
	padding: 15px;
	font-weight: normal;
	font-size: 14px;
	color: #a6a6a6;
}

.feedback-form__textarea:focus {
	outline: none;
	color: #000;
}

.basket-card {
	background: #ffffff;
	box-shadow: 0px 0px 15px rgba(116, 116, 116, 0.2);
	border-radius: 4px;
}

.basket-card__header {
	position: relative;
	background-image: url("../images/bk-cd-bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 30px;
}

.basket-card__header__mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/mask.png");
	background-size: cover;
}

.basket-card__span {
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.basket-card__input {
	width: 100%;
	height: 42px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 15px 0;
	font-size: 14px;
	color: #a6a6a6;
	padding: 0 15px;
}

.basket-card__input:focus {
	color: #252525;
	outline: none;
}

.basket-card__header button {
	display: block;
	margin-left: auto;
}

.basket-card__title {
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0 15px 0;
}

.basket-card-string {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px 30px;
	border-bottom: 1px solid #e5e5e5;
}

.basket-card-string span {
	font-size: 16px;
}

.basket-card-discription {
	width: 100%;
	font-size: 14px;
	color: #bcbcbc;
}

.basket-card {
	&__total {
		padding: 20px 0 25px 0;
		text-align: center;

		&__label {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 500;
			line-height: (21/18);
			color: #252525;
		}

		&__price {
			margin-top: 10px;
			font-size: 36px;
			font-weight: 700;
			line-height: (42/36);
			color: #ee5126;
		}
	}

	&__btns {
		padding: 0 30px 30px 30px;

		> * {
			margin-top: 10px;
			width: 100%;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.page-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 0 2px;
}

.page-item a {
	font-weight: normal;
	font-size: 16px;
	color: #252525;
}

.page-item:hover,
.page-item:active {
	background: #e75b12;
}

.page-item:hover a {
	color: #fff;
}

.page-item:active a {
	color: #fff;
}

.auth__container {
	width: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10% auto;
}

.auth__container h1 {
	text-align: center;
}

.auth__label {
	display: flex;
	flex-direction: column;
}

.auth__name {
	display: block;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	color: #575757;
	border: none;
	outline: none;
	padding: 10px 0;
	border-bottom: 2px solid #ee5126;
}

.auth__span {
	font-weight: normal;
	font-size: 16px;
	color: #a6a6a6;
}

.auth__phone {
	height: 42px;
	margin-top: 5px;
	padding: 0 15px;
	border: none;
	outline: none;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 4px;
}

.checkbox {
	margin-top: 15px;
	display: flex;
}

.checkbox input {
	border: none;
	outline: none;
	margin-right: 10px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.checkbox__span a {
	color: #ee5126;
}

.auth__container button {
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	width: 205px;
}

.profile-aside__item {
	padding: 20px;
	background: #f7f7f7;
}

.profile-aside__item:last-child {
	background-color: #fff;
}

.profile-aside__link {
	display: flex;
	align-items: center;
}

.profile-aside__link img {
	width: 18px;
	margin-right: 15px;
}

.profile-aside__link span {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	color: #252525;
}

.profile-content-form__switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}
.profile-content-form__switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.profile-content-form__switch input:checked + .profile-content-form__slider {
	background-color: #ee5126;
}
.profile-content-form__switch
	input:checked
	+ .profile-content-form__slider:before {
	-webkit-transform: translateX(24px);
	transform: translateX(24px);
}

.switch-margin {
	margin-left: 12px;
	margin-right: 12px;
}

.profile-content-form__slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e9e9e9;
	border-radius: 12px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.profile-content-form__slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.my-card__wrapper {
	display: flex;
	align-items: flex-start;
}

.my-card__container {
	padding-right: 55px;
	max-width: 520px;
}

.my-card__list {
	margin-top: 40px;
}

.my-card__list__item {
	margin-top: 15px;
	display: flex;
	align-items: center;
}

.my-card__list__item::before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #ee5126;
	margin-right: 10px;
	border-radius: 50%;
}

.my-card-right {
	width: 60.1186%;
	max-width: 836px;
}

.my-card-righ-form {
	width: 100%;
	padding: 30px;
	background: url(../images/sneg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 4px;
}

.my-card-right span {
	display: block;
	width: 340px;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.my-card-right__block {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 15px;

	> * {
		margin-right: 5px;
		margin-top: 10px;
	}
}

.my-card-right__input {
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	width: 300px;
	height: 42px;
	padding: 0 15px;
}

.my-card-right__input {
	outline: none;
	border: 1px solid #e5e5e5;
}

.my-card__button {
	font-size: 14px;
}

.my-card-right-title {
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	color: #252525;
	margin: 25px 0;
}

.my-card-right-info a {
	color: #ee5126;
	cursor: pointer;
}

.visible {
	display: none;
}

.delete-rec {
	position: absolute;
	top: 2%;
	right: 5%;
	width: 46px;
	height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f7f7f7;
	opacity: 0.92;
	border: 1px solid #e5e5e5;
	border-radius: 50%;
}

.delete-rec__img {
	width: 14px;
}

@media (max-width: 1399.98px) {
	.header-bottom__center {
		flex-wrap: wrap;
	}

	.search {
		flex: 0 0 auto;
		width: 100%;
		margin-right: 0;
		margin-top: 20px;
		order: 5;
	}

	.basket {
		flex: 0 0 auto;
		margin-left: auto;
	}
}

@media (max-width: 1299.98px) {
	.pointer {
		margin: 15px -10px 0 -10px;

		&__item {
			margin: 20px 0 0 0;
			padding: 0 10px;
			width: 40%;
		}

		&__button {
			width: 100%;
		}
	}
}

@media (max-width: 1149.98px) {
	.header-bottom {
		&__logo {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 767.98px) {
	.header {
		display: none;
	}

	.mobile-header {
		display: block;
		width: 100%;
		position: relative;
	}

	.mobile-header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;
	}

	.mobile-header__link {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f7f7f7;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		margin-right: 10px;
	}

	.mobile-header__link:first-child {
		background: #ee5126;
	}

	.mobile-header__link:nth-child(2) {
		background: #fff;
		width: 107px;
		height: 15px;
		border-radius: 0%;
	}

	.mobile-header__link:last-child {
		margin-right: 0;
	}

	.burger__icon {
		width: 20px;
	}

	.mobile-header__logo {
		width: 107px;
	}

	.mobile-header__icon {
		width: 18px;
	}

	.mobile-header__label {
		position: relative;
	}

	.mobile-header__label input {
		height: 42px;
		width: 100%;
		padding: 0 15px;
		background: #ffffff;
		box-shadow: 0px 1px 4px rgba(15, 36, 44, 0.15);
		border-radius: 0px;
		font-size: 14px;
		color: #bcbcbc;
		outline: none;
		border: none;
	}

	.mobile-header__cancel {
		position: absolute;
		right: 15px;
		top: 3px;
		width: 12px;
		height: 12px;
	}

	.menu-burger-container {
		width: 300px;
		left: 0;
		top: 0;
		background-color: #fff;
		padding: 15px;
	}

	.menu-burger {
		display: block;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9999;
	}

	.menu-burger:target {
		visibility: visible;
	}

	.header-top__menu {
		flex-direction: column;
		align-items: flex-start;
	}

	.burger__cancel-img {
		width: 16px;
	}

	.burger-button {
		margin: 20px 0;
		width: 196px;
	}

	.header-top__item {
		margin-bottom: 15px;
	}

	.header-top__menu {
		border-bottom: 1px solid #e5e5e5;
	}

	.header-bottom__link {
		margin-top: 20px;
	}

	.section__title {
		margin-bottom: 25px;
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 24px;
	}

	.lanch__card {
		width: 100%;
	}

	.card__title {
		font-size: 18px;
	}

	.card__block {
		font-size: 16px;
	}

	.card__cost {
		font-size: 40px;
	}

	.card__footer__btn-add {
		margin-top: 15px;
		width: 100%;
	}

	.scroll__line {
		display: none;
	}

	.arrow {
		margin-right: 10px;
	}

	.lanch {
		margin-bottom: 10px;
	}

	.category__slider-item {
		width: 100%;
	}

	.category__slider-item:nth-child(n + 2) {
		display: none;
	}

	.category__slider-img {
		height: 180px;
		object-fit: cover;
	}

	.category__slider {
		margin-top: 0;
	}

	.hidden {
		display: none;
	}

	.visible {
		display: block;
	}
	.card__img {
		height: 180px;
		object-fit: cover;
	}

	.mobile-flex {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.card__cost {
		flex: 0 0 auto;
		margin-right: 10px;
	}

	.old__cost {
		padding-top: 15px;
	}

	.old__cost-line {
		top: 62%;
	}

	.mobile-action {
		width: 100%;
	}

	.pc-mb-ttl {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.pc-discription__top {
		margin-top: 0;
	}

	.pc-discription__top-item {
		font-size: 16px;
	}

	.avalible-ok {
		font-size: 14px;
	}

	.pc-discription__text {
		font-size: 14px;
	}

	.specification__title {
		font-size: 16px;
	}

	.specification__column {
		width: 40%;
	}

	.specification__column:last-child {
		margin-left: 0;
		width: 55%;
	}

	.specification__item {
		font-size: 14px;
	}

	.category__title {
		align-items: center;
		margin-top: 40px;
	}

	.feedback__title {
		font-size: 16px;
	}

	.feedback__text {
		font-size: 14px;
	}

	.feedback__footer {
		flex-direction: column;
	}

	.author {
		align-self: flex-start;
	}

	.read-more {
		margin-top: 15px;
	}

	.feedback-form__label {
		width: 100%;
	}

	.feedback-form__label:nth-child(2) {
		margin-top: 25px;
	}

	.feedback-form__smiles {
		margin-top: 25px;
	}

	.stepper-right {
		margin-left: auto;
	}

	.w-m {
		width: 50%;
	}

	.w100 {
		width: 100%;
		display: flex;
	}

	.flex-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.tx-c {
		text-align: center;
	}

	.jcl {
		justify-content: flex-start;
	}

	.hd {
		display: none;
	}

	.my-card__wrapper {
		flex-direction: column-reverse;
	}

	.my-card-right {
		width: 100%;
	}

	.my-card-right span {
		width: 100%;
	}

	.my-card-right__block {
		flex-direction: column;
	}

	.my-card-righ-form {
		padding: 20px 15px;
	}

	.my-card__button {
		margin-top: 20px;
	}

	.auth__container {
		width: 100%;
	}

	.rel {
		position: relative;
	}

	.pointer {
		margin-top: -15px;
		justify-content: left;

		&__item {
			width: 50%;
			margin-top: 10px;
			padding: 0 5px;
		}

		&__button {
			padding-right: 10px;
			padding-left: 10px;
			font-size: 14px;
		}
	}
}

@import "./components/fix-vendor.scss";
@import "./components/buttons.scss";
@import "./components/inputs.scss";
@import "./components/price.scss";
@import "./components/layout.scss";
@import "./components/layout-index.scss";
@import "./components/layout-cart.scss";
@import "./components/layout-profile.scss";
@import "./components/layout-try.scss";
@import "./components/nav-breadcrumbs.scss";
@import "./components/nav-tabs.scss";
@import "./components/nav-select.scss";
@import "./components/tabs-panes.scss";
@import "./components/goods-cards.scss";
@import "./components/goods-edit.scss";
@import "./components/slider-reviews.scss";
@import "./components/slider-cards.scss";
@import "./components/footer.scss";
@import "./components/page-index.scss";
@import "./components/page-product.scss";
@import "./components/page-profile.scss";

@import "./components/form-feedback.scss";
@import "./components/form-profile.scss";
